@import "../../../config-scss/rem-calc.scss";
@import "../../../config-scss/variables.scss";

:host {
  section {
    @include display-flex(row, center);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: rem(10);
    margin: 0 rem(5);

    border-radius: rem(5);

    background: var(--white);
    img {
      width: rem(25);
    }
  }
}
