@import "../../../config-scss/rem-calc.scss";

:host {
  header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: rem(45) 0;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      img {
        margin-right: rem(10);
      }
    }
  }
}
