@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";
@import "./config-scss/rem-calc.scss";

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}
main {
  width: rem(650);
  margin: 0 auto;
  box-sizing: border-box;
}

footer {
  @include display-flex(row, center);
  width: 100%;

  margin-top: rem(50);
  margin-bottom: rem(20);
}
